*{box-sizing:border-box;margin:0;padding:0}
html,body,#root{height:100%}
body{
  font-family: Inter, Roboto, system-ui, -apple-system, "Segoe UI", sans-serif;
  background: #0b1220;
  color:#111827;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
